<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>围棋比赛直播</title>
        <!--Jquery-->
        <script src='../static/js/lib/jquery.js'></script>
        <script src="../static/js/lib/jquery-1.10.2.min.js" type="text/javascript"></script>
        <!--JS控制脚本-->
        <script src="../static/js/relayController.js" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <img src="{{ imgPath }}" alt="图片加载中" id="relayImg" />
        </div>

    </body>
</html>