<!DOCTYPE html>
<html lang="zh" >
    <head>
        <meta charset="UTF-8" />
        <title>HTML5 围棋</title>
        <script type="text/javascript" src="../static/js/lib/jquery.js"></script>
        <script type="text/javascript" src="../static/js/lib/jquery-1.10.2.min.js"></script>

    </head>
    <body>
        <div class="container">
            <canvas id="chessboard" width="1200" height="650"></canvas>
        </div>
    <script>
        weiQiController ={};
        weiQiController.matrix_data = {{ matrix_data|safe }};
        <!--console.log(weiQiController.matrix_data[0]['matrix']);-->
        <!--weiQiController.dyadic_array = {{ dyadic_array|safe }};-->
    </script>
    <script type="text/javascript" src="../static/js/weiQiController.js"></script>
    </body>
</html>